@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Poppins:wght@200;400;700&family=Roboto:wght@100;500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #353535;
    font-family: Poppins, Arial;
}

.container {
    margin: 0 auto;
    width: 80%;
    height: 100vh;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.title { /* PIANO */
    font-size: 5rem;
    color: #ccc;
}

main {
    display: flex;
    align-items: end;
    justify-content: center;
}

/* ÁREA DO PIANO */

.piano {
    position: relative;
    width: 830px;
    height: 450px;

    display: flex;
    justify-content: center;
}

/* NOTAS */

.notas {
    position: absolute;
    display: flex;
    gap: 10px;

}

.notas div {
    width: 110px;
    height: 450px;

    border: 3px solid #ccc;
    background-color: #353535;
    color: #ccc;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
    
    gap: 10px;
}

/* SUSTENIDOS */

.sustenidos {
    position: absolute;
    display: flex;
    gap: 10px;
    margin-left: 110px;
}

.sustenidos div {
    width: 110px;
    height: 200px;
    
    border: 3px solid #ccc;
    background-color: #353535;
    color: #ccc;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
    
    gap: 10px;
}

/* TEXTOS */

h1, h3 {/* H1 --> KEYS DE CADA NOTA */
    text-transform: uppercase;
    letter-spacing: 5px;
}

h3 { /* NOME DAS NOTAS */
    margin-bottom: 50px;
    opacity: .3;
}

/* BPM */

aside {
    position: relative;

    width: 150px;
    height: 100px;
}

.number { /* NÚMERO */
    position: absolute;
    right: 0;
    top: 15px;

    display: flex;
    justify-content: center;

    width: 100px;
    height: 70px;
} 

.text { /* PARTE ESCRITA */
    position: absolute;
    right: 0;
    bottom: 0;

    display: flex;
    justify-content: center;

    width: 100px;
    height: 30px;
}

p { /* TEXTO E NÚMERO */
    color: #ccc;
    font-size: 3rem;
    font-weight: bolder;
    letter-spacing: 2px;
}

aside input { /* INPUT RANGE */
    position: absolute;
    left: -50px;
}

/* COMPOSIÇÃO */ 

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

input {
    width: 300px;
    padding: 15px;
    border: none;
    background-color: #ccc;

    text-transform: uppercase;
    font-size: .7rem;
    text-align: center;
    letter-spacing: 2px;
}

button {
    width: 100px;
    padding: 10px;
    border: none;
    cursor: pointer;
    background-color: #ccc;

    text-transform: uppercase;
    font-size: .7rem;
    text-align: center;
    letter-spacing: 2px;
}

button:hover {
    background-color: #bbb;
}

/* FOOTER */

footer {
    display: flex;
    gap: 10px;
}

.credits {
    letter-spacing: 2px;
    opacity: 1;
    color: #ccc;
    font-size: .8rem;
}

footer img {
    opacity: .7;
    width: 20px;
}

.notas div.active, .sustenidos div.active {
    border: 3px solid #e28000;
}


